body {
  padding-top: 4.5rem;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

// TODO: use unique selectors
.popover {
  .theme {
    border-radius: 50%;
    margin: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 2px 4px;
    color: #6c757d;
    border: 1px solid #6c757d;
  }
}

.modal-header,
.modal-header textarea,
.modal-body,
.modal-body textarea,
.modal-footer,
.popover .theme,
.note {
  &.default {background-color: #fff;}
  &.red {background-color: #f28b82;}
  &.orange {background-color: #fbbc04;}
  &.yellow {background-color: #fff475;}
  &.green {background-color: #ccff90;}
  &.teal {background-color: #a7ffeb;}
  &.blue {background-color: #cbf0f8;}
  &.dark-blue {background-color: #aecbfa;}
  &.purple {background-color: #d7aefb;}
  &.pink {background-color: #fdcfe8;}
  &.brown {background-color: #e6c9a8;}
  &.gray {background-color: #e8eaed;}
}
